*{
    margin: 0;
    padding: 0;
}
body{
    background: #f5f5f5;
}
#todo-app{
    width: 550px;
    margin: 0 auto;
}
.todo-header{
    text-align: center;
}
.todo-header h1{
    font-size: 100px;
    color: rgba(175, 47, 47, 0.15);
}
.todo-main{
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.new-todo{
    position: relative;
}
.new-todo input, .todo-item div input{
    width: 100%;
    font-size: 24px;
    box-sizing: border-box;
    padding: 16px 16px 16px 50px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    outline: none;
}
.new-todo input{
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}
.new-todo input::-webkit-input-placeholder{
    color: #d9d9d9;
}
.new-todo span{
    position: absolute;
    top: 0;
    left: 17px;
    line-height: 60px;
    font-weight: bold;
}
.new-todo span i{
    color: #d9d9d9;
}
.new-todo span i.active{
    color: #737373;
}
.todo-list{
    list-style: none;
}
.todo-item{
    border-bottom: 1px solid #ededed;
    position: relative;
}
.todo-item div span i{
    position: absolute;
    top: 0;
    line-height: 60px;
}
.todo-item div span.todo-complete i{
    left: 10px;
    font-size: 30px;
}
.todo-item div span.todo-complete i.icon-un-complete{
    color: #ededed;
}
.todo-item div span.todo-complete i.icon-completed{
    color: #bddad5;
}
.todo-item div span.todo-delete{
    display: none;
    cursor: pointer;
}
.todo-item div span.todo-delete i{
    right: 20px;
    color: rgba(175, 47, 47, 0.7);
    font-size: 12px;
    font-weight: bold;
}
.todo-item div input{
    color: #4d4d4d;
}
.todo-item div input:focus{
    border: 1px solid black;
}
.todo-item div input.complete-input{
    color: #d9d9d9;
    text-decoration: line-through;
}
.todo-footer{
    color: #777;
    font-size: 14px;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    overflow: hidden;
}
.todo-footer .todo-count{
    float: left;
}
.todo-footer .clear-completed{
    float: right;
    background: none;
    border: 0;
    color: #777;
    outline: none;
    cursor: pointer;
}
.todo-footer .clear-completed:hover{
    text-decoration: underline;
}
.todo-footer .todo-filter li{
    display: inline;
}
.todo-footer .todo-filter li a{
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}
.todo-footer .todo-filter li a:hover{
    border-color: rgba(175, 47, 47, 0.2);
}
.todo-footer .todo-filter li.active a{
    border-color: rgba(175, 47, 47, 0.3);
}

